img{
    width: 600px;
    height:600px;
}
#sapo{
    width: 600px;
    height: 200px;
}
#ze{
    color: green;
}
#ez{
    color: green;
}
#as{
    color: green;
}
#sa{
    color: green;
}
h3{
    color: darkblue;
}